* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Mulish", sans-serif;
  background: #f9f4fb;
}

h1,
h2,
h3 {
  color: #b52184;
  font-weight: 900;
}
/* ** HEADER ** */
header {
  height: 100vh;
}
header img {
  display: block;
  width: 364px;
  height: 370px;
  margin: 0 auto 16px;
}

header div {
  text-align: center;
}

header p {
  font-size: 20px;
  margin-bottom: 52px;
}

/* ** CARDBOARD ** */

#cardboard {
  display: flex;
  flex-direction: column;
  gap: 48px;
  background: linear-gradient(96deg, #343193 0%, #302c63 99.68%);
  padding: 52px 40px;
}

.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 24px 60px 24px 24px;
  background-color: #fff;
  border-radius: 20px;
}

.card img {
  width: 80px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* align-items: flex-start; */
}

.content h3 {
  font-size: 28px;
}

.content p {
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  padding-inline: 40px;
}
form h2 {
  font-size: 30px;
  padding-block: 76px 40px;
}

form label {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px 16px;
  margin-bottom: 24px;
  border: 1.5px solid #312d64;
  border-radius: 16px;
  color: #b52184;
}

form input,
textarea {
  border: none;
  outline: none;
  background-color: #f9f4fb;
  color: #312d64;
  
}
form input::placeholder,
textarea::placeholder {
  color: #312d64;
  font-family: "Mulish", sans-serif;
}

/* ** BUTTON ** */

button {
  width: 160px;
  padding: 16px;
  border: none;
  border-radius: 16px;
  background-color: #343193;
  color: #fff;
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}

/* ** FOOTER ** */

footer {
  padding: 16px;
  margin-top: 64px;
  background-color: #343193;
  color: #fff;
  text-align: center;
}
